  #profile {
    margin-top: 20px;
  }

  .profile-ct-1 {
    padding-top: 38px;
  }
  
  .profile-img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    padding: 20px 0 20px;
  }


  .panel-body {
    background-color: #fff;
    border-radius: 5px;
  }

  .fa-cog {
    padding-right: 10px;
  }

  #profile .profile-setting {
    padding: 20px;
  }

  #profile .profile-edit {
    margin-bottom: 20px;
    border-radius: 5px;
  }

  #profile .profile-logout {
    border-radius: 5px;
    width: 264px;
  }

  .profile-setting .profile-text p {
    margin-bottom: 0px;
    float: left;
  }

  .profile-setting .profile-icon {
    float: right;
  }

  .fa-sign-out {
    padding-right: 10px;
  }

  .profile-contact {
    padding: 38px 10px 10px 10px;
  }

  .profile-contact i {
    padding-right: 10px;
  }

  .profile-contact li {
    color: #6c757d;
  }