.sale_information {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
  border-radius: 5px;
  margin: 20px 0px;
}

.sale_information .box-left {
  padding-right: 0px;
}

.sale_information .box-left .swiper-container {
  margin: 5px;
}

.sale_information .box-left .swiper-container .carousel-item img {
  border-radius: 5px;
}

.sale_information .box-left .swiper-container button span {
  width: 48px;
  height: 48px;
  border: 1px solid #b1bac6;
  border-radius: 50%;
  font-size: 20px;
  background-color: #f0f8fe;
}

.sale_information .box-left .swiper-container .swiper-slide {
  padding: 0px;
  text-align: center;
  border-bottom: 2px solid transparent;
  display: inline-block;
}

.sale_information .box-left .swiper-container .swiper-slide a {
  text-decoration: none;
  color: #5a5d60;
}

.sale_information .box-left .swiper-container .swiper-slide a .sl-name {
  padding: 9px 10px 0px;
}

.sale_information .box-left .swiper-container .swiper-slide a:hover {
  color: #212529;
  font-weight: 700;
}

.sale_information .box-left .swiper-container .swiper-slide:hover {
  border-bottom: 2px solid #ce381c;
  transform-origin: 0% 50%;
}

.sale_information .box-right {
  padding-left: 0px;
}

.sale_information .box-right .box-right-bn .box-right-bn-sl {
  margin: 5px;
}

.sale_information .box-right .box-right-bn .box-right-bn-sl img {
  width: 100%;
  border-radius: 5px;
}

.sale_information .box-right .box-right-news {
  padding: 4px 5px 9px 5px;
}

.sale_information .box-right .box-right-news .box-body .caption-char {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}

.sale_information .box-right .box-right-news .box-body .caption-char p {
  font-weight: 700;
  margin-bottom: 10px;
  color: #6c757d;
}

.sale_information .box-right .box-right-news .box-body .caption-char a {
  text-decoration: none;
}

.sale_information .box-right .box-right-news .box-body .news-item a {
  text-decoration: none;
}

.sale_information .box-right .box-right-news .box-body .news-item a .picture {
  display: flex;
}

.sale_information .box-right .box-right-news .box-body .news-item a .picture .news-item-if-mess p {
  padding-left: 5px;
  color: #1f1f1f;
  font-size: 15px;
  font-weight: 700;
  margin: 0px;
}