<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<div class="card bg-light">
  <article class="card-body mx-auto">
    <h4 class="card-title mt-3 text-center">Create Account</h4>
    <p class="text-center">Get started with your free account</p>
    <p>
      <a href="" class="btn btn-block btn-twitter"> <i class="fab fa-twitter"></i>   Login via Twitter</a>
      <a href="" class="btn btn-block btn-facebook"> <i class="fab fa-facebook-f"></i>   Login via facebook</a>
    </p>
    <p class="divider-text">
      <span class="bg-light">OR</span>
    </p>
    <%= form_tag users_path, method: :post do %>
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-user"></i> </span>
        </div>
        <input name="name" class="form-control" placeholder="Full name" type="text">
      </div> <!-- form-group// -->

      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
        </div>
        <input name="email" class="form-control" placeholder="Email" type="email">
      </div> <!-- form-group// -->

      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
        </div>
        <input class="text-center  form-control" type="number" value="84" name="area_code">
        <input name="phone_number"class="form-control" placeholder="Phone number" type="text">
      </div> <!-- form-group// -->

      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
        </div>
          <input class="form-control" placeholder="Create password" type="password" name="password">
      </div> <!-- form-group// -->

      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
      </div>
            <input class="form-control" placeholder="Repeat password" type="password">
      </div> <!-- form-group// -->   

      <div class="form-group">
        <%= submit_tag 'Create Account', class: 'btn btn-primary btn-filter submit_account' %>
      </div> <!-- form-group// -->  

      <p class="text-center">Have an account? <a class="login_account" href="">Log In</a> </p>                                                            
    <% end %>
  </article>
</div> <!-- card.// -->