<div class=" mt-5 mb-5">
  <div class="d-flex justify-content-center row">
    <%- @coupons.each  do |coupon| %>
      <% if coupon.quantity > 0 %>
        <%= render 'coupons_left', coupon: coupon%>
      <% else %>
        <%= render 'out_of_coupons', coupon: coupon%>
      <% end %>
    <% end %>
  </div>
</div>