<table class="table table-striped table-product">
  <tr>
    <th>Connect type</th>
    <td><%= itemable.configuration_accessory.connect_type%></td>
  </tr>
  <tr>
    <th>Feature</th>
    <td><%= itemable.configuration_accessory.feature%></td>
  </tr>
</table>