 <div class="cdt-product_config_param">
  <span  title="CPU">
    <i class="fa-solid fa-paperclip"></i>
    <%= itemable.configuration_accessory.connect_type%>
  </span>
  <span title="screen">
  <i class="fa-sharp fa-regular fa-face-laugh"></i>
    <%= itemable.configuration_accessory.feature.truncate(20)%>
  </span>
</div>