 <div class="cdt-product_config_param">
  <span  title="CPU">
    <i class="fa-solid fa-paperclip"></i>
    <% if itemable.class == Hash && itemable['type'] == 'Accessory' %>
      <%= itemable['type'].constantize.find(itemable['id']).configuration_accessory.connect_type%>
    <% else %>
      <%= itemable.configuration_accessory.connect_type%>
    <% end %>
  </span>
  
  <span title="screen">
  <i class="fa-sharp fa-regular fa-face-laugh"></i>
    <% if itemable.class == Hash && itemable['type'] == 'Accessory' %>
      <%= itemable['type'].constantize.find(itemable['id']).configuration_accessory.feature.truncate(20)%>
    <% else %>
      <%= itemable.configuration_accessory.feature.truncate(20)%>
    <% end %>
  </span>
</div>