.content-sale {
  padding-top: 15px;
  background-color: #fff;
  border-radius: 5px;
}
.content-sale .prd-sale h2 {
  font-family: serif;
  font-weight: 600;
  padding-left: 20px;
  color: #cd1817;
  margin: 0px;
}
.content-sale .product-sale {
  padding-top: 12px;
  border-radius: 5px;
  padding-bottom: 12px;
  position: relative;
}

.content-sale .product-list {
  margin: 0;
}

.content-sale .product-sale .product-img a span {
  text-align: center;
}
.content-sale .product-sale .product-img a span img {
  transition: all 0.5s;
  max-width: 50%;
  padding-top: 30px;
}
.content-sale .product-sale .product-img .product-label {
  position: absolute;
  top: 140px;
}
.content-sale .product-sale .product-img .product-label span {
  border-radius: 0px 5px 5px 0px;
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 5px;
  display: flex;
  padding: 0px 8px;
}
.content-sale .product-sale .product-img .product-label .product-label1 {
  background-color: #ea9d02;
  color: #fff;
}
.content-sale .product-sale .product-img .product-label .product-label2 {
  background-color: #cb1c22;
  color: #fff;
}
.content-sale .product-sale div a span:hover img {
  transform: scale(1.1);
}
.content-sale .product-sale .cdt-product-info a {
  text-decoration: none;
  color: #474c51;
}
.content-sale .product-sale .cdt-product-info a:hover {
  color: #0d6dfd;
}
.content-sale .product-sale .cdt-product-info .cdt-product-name {
  margin-bottom: 10px;
}
.content-sale .product-sale .cdt-product-info .cdt-product_show-promo {
  justify-content: space-between;
  display: flex;
}
.content-sale .product-sale .cdt-product-info .cdt-product_show-promo .progress {
  width: 135px;
  height: 28px;
  border-radius: 15px;
  background-color: #ef8573;
  position: relative;
  line-height: 28px;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  z-index: 1;
  margin: 10px 0px 10px;
}
.content-sale .product-sale .cdt-product-info .cdt-product_show-promo .progress p {
  padding-left: 7px;
}
.content-sale .product-sale .cdt-product-info .cdt-product_show-promo .progress .progress-bar {
  width: 67%;
  background-color: #cb1c22;
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
}
.content-sale .product-sale .cdt-product-info .cdt-product_show-promo .strike-price {
  font-size: 14px;
  line-height: 15px;
  color: #919191;
}
.content-sale .product-sale .cdt-product-info .cdt-product_show-promo .strike-price p {
  padding-top: 15px;
  margin-bottom: 0px;
  text-decoration: line-through;
}
.content-sale .product-sale .cdt-product-info .cdt-product__config {
  background-color: #f8f9fa;
  border-radius: 5px;
  padding: 9px 10px 0px;
}
.content-sale .product-sale .cdt-product-info .cdt-product__config .cdt-product__img-promo ul li button {
  margin-right: 10px;
  padding: 0px;
  border-radius: 50%;
}
.content-sale .product-sale .cdt-product-info .cdt-product__config .cdt-product__img-promo ul li button img {
  border-radius: 50%;
}
.content-sale .product-sale .cdt-product-info .cdt-product__config .cdt-product__img-promo #pills-tabContent .tab-pane p {
  width: 100%;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.31;
  color: #555;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 0px;
  padding: 10px 0px;
}
.content-sale .product-sale .cdt-product-info .cdt-product__config .cdt-product_config_param {
  padding-bottom: 10px;
}
.content-sale .product-sale .cdt-product-info .cdt-product__config .cdt-product_config_param span {
  cursor: help;
  margin: 0px 10px 10px 0px;
  font-size: 14px;
  line-height: 19px;
  color: #6c757d;
}
.content-sale .product-sale .cdt-product-info .cdt-product__config .cdt-product__text-promo {
  height: 30px;
}
.content-sale .product-sale:hover {
  box-shadow: 0 0 10px 5px #dee2e6;
}/*# sourceMappingURL=content-sale.css.map */