<div class="row">
  <div class="col-6">
    <img style="border-radius: 5px; width: 100%;" src="https://images.fpt.shop/unsafe/fit-in/590x160/filters:quality(90):fill(white)/fptshop.com.vn/Uploads/Originals/2022/7/11/637931767838555080_F-C3_590x160.png" alt="">
  </div>
  <div class="col-6">
    <img style="border-radius: 5px; width: 100%;" src="https://images.fpt.shop/unsafe/fit-in/590x160/filters:quality(90):fill(white)/fptshop.com.vn/Uploads/Originals/2022/6/30/637922302516230858_F-C3_590x160.png" alt="">
  </div>
</div>