<div class="col-lg-4">
  <a href="">
    <img src="https://images.fpt.shop/unsafe/fit-in/394x115/filters:quality(90):fill(white)/fptshop.com.vn/Uploads/Originals/2021/6/4/637584199039669299_icon-desktop-1.png" alt="">
  </a>
</div>
<div class="col-lg-4">
  <a href="">
    <img src="https://images.fpt.shop/unsafe/fit-in/394x115/filters:quality(90):fill(white)/fptshop.com.vn/Uploads/Originals/2021/6/4/637584199040294624_icon-desktop.png" alt="">
  </a>
</div>
<div class="col-lg-4">
  <a href="">
    <img src="https://images.fpt.shop/unsafe/fit-in/394x115/filters:quality(90):fill(white)/fptshop.com.vn/Uploads/Originals/2020/5/12/637248776517146629_f-friends.png" alt="">
  </a>
</div>