<div class="bn-sale" style="background: url(./image/background/637929172484358962_desk-header-bg-banner.webp); background-size: 100% 100%; background-color: brown;">
  <div class="bn-head">
    <div class="head-tit" style="text-align: center;">
      <img src="./image/banner-cs/7-banner.png" alt="">
    </div>
  </div>
  <div class="row bn-list">
    <div class="col bn-item col-sx-6 col-sm-3">
      <div style="background-color: white; border-radius: 5px">
        <div class="list-img">
          <img src="https://images.fpt.shop/unsafe/filters:quality(90):fill(white)/fptshop.com.vn/Uploads/Originals/2022/7/15/637935171029803088_html-banner.png" alt="Apple giảm đến 20%++" style="max-width: 100%;">
        </div>
      </div>
    </div>
    <div class="col bn-item col-sx-6 col-sm-3">
      <div style="background-color: white; border-radius: 5px">
        <div class="list-img">
          <img src="https://images.fpt.shop/unsafe/filters:quality(90):fill(white)/fptshop.com.vn/Uploads/Originals/2022/7/15/637935171031211191_html-banner2.png" alt="Apple giảm đến 20%++" style="max-width: 100%;">
        </div>
      </div>
    </div>
    <div class="col bn-item col-sx-6 col-sm-3">
      <div style="background-color: white; border-radius: 5px">
        <div class="list-img">
          <img src="https://images.fpt.shop/unsafe/filters:quality(90):fill(white)/fptshop.com.vn/Uploads/Originals/2022/7/15/637935171031211191_html-banner3.png" alt="Apple giảm đến 20%++" style="max-width: 100%;">
        </div>
      </div>
    </div>
    <div class="col bn-item col-sx-6 col-sm-3">
      <div style="background-color: white; border-radius: 5px">
        <div class="list-img">
          <img src="https://images.fpt.shop/unsafe/filters:quality(90):fill(white)/fptshop.com.vn/Uploads/Originals/2022/7/15/637935171031211191_html-banner4.png" alt="Apple giảm đến 20%++" style="max-width: 100%;">
        </div>
      </div>
    </div>
  </div>
  <div class="bn-bottom">
    <img src="https://fptshop.com.vn/Uploads/originals/2022/7/8/637928761641525476_des-sub-text.png" alt="">
  </div>
</div>