<div class=" mt-5 container">
        <div class="row">
            <div class="col-md-4 pay_element">
              <div class="card p-3 pay_type">
                  <a href="" class="pay_ct">
                    <div class="pay_it">
                      <i class="fa-sharp fa-regular fa-credit-card"></i>
                    </div>
                    <div class="pay_name">Phone card</div>
                  </a>
              </div>
            </div>
            <div class="col-md-4 pay_element">
              <div class="card p-3 pay_type">
                  <a href="" class="pay_ct">
                    <div class="pay_it">
                      <i class="fa-solid fa-gamepad"></i>
                    </div>
                    <div class="pay_name">Games card</div>
                  </a>
              </div>
            </div>
            <div class="col-md-4 pay_element">
                <div class="card p-3 pay_type">
                  <a href="" class="pay_ct">
                    <div class="pay_it">
                      <i class="fa-solid fa-calendar"></i>
                    </div>
                    <div class="pay_name">Data card</div>
                  </a>
              </div>
            </div>
            <div class="col-md-4 pay_element">
              <div class="card p-3 pay_type">
                  <a href="" class="pay_ct">
                    <div class="pay_it">
                      <i class="fas fa-lightbulb"></i>
                    </div>
                    <div class="pay_name">Electricity bill</div>
                  </a>
              </div>
            </div>
            <div class="col-md-4 pay_element">
                <div class="card p-3 pay_type">
                  <a href="" class="pay_ct">
                    <div class="pay_it">
                      <i class="fa-solid fa-faucet-drip"></i>
                    </div>
                    <div class="pay_name">Water bill</div>
                  </a>
              </div>
            </div>
            <div class="col-md-4 pay_element">
                <div class="card p-3 pay_type">
                  <a href="" class="pay_ct">
                    <div class="pay_it">
                      <i class="fa-sharp fa-solid fa-globe"></i>
                    </div>
                    <div class="pay_name">Internet</div>
                  </a>
              </div>
            </div>
            <div class="col-md-4 pay_element">
                <div class="card p-3 pay_type">
                  <a href="" class="pay_ct">
                    <div class="pay_it">
                      <i class="fa-solid fa-tv"></i>
                    </div>
                    <div class="pay_name">Cable telivision</div>
                  </a>
              </div>
            </div>
            <div class="col-md-4 pay_element">
                <div class="card p-3 pay_type">
                  <a href="" class="pay_ct">
                    <div class="pay_it">
                      <i class="fa-solid fa-mobile-retro"></i>
                    </div>
                    <div class="pay_name">Phone after</div>
                  </a>
              </div>
            </div>
            <div class="col-md-4 pay_element">
                <div class="card p-3 pay_type">
                  <a href="" class="pay_ct">
                    <div class="pay_it">
                      <i class="fa-sharp fa-solid fa-id-card"></i>
                    </div>
                    <div class="pay_name">Installment</div>
                  </a>
              </div>
            </div>
        </div>
    </div>