<div class="row">
  <div class="col-3">
    <%= render partial: 'filter' %>
  </div>
  <div class="col-9">
    <div class="filter_search">
      <div class="card">
        <div class="card_body">
          <div class="filter-normal">
            <div class="row filter_product">
              <%- @search_facade.all_itemables.each do |item|%>
                <% if item["quantity"] > 0 %>
                  <%= render partial: 'itemables/itemables', locals: { itemable: item, category: item['category_id'], class_name: 'col-md-4'} %>
                <% end %>
              <% end %>
              <%= paginate @search_facade.all_itemables %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>