/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 
 
* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1320px !important;
  padding: 0 12px !important;
}

.navbar {
  padding: 0px;
}

.fs-content {
  background-image: url("../images/header_sale/pngtree-islamic-background-with-pattern-picture-image_1177817.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% auto;
  position: relative;
  background-color: #f8f9fa;
  padding-bottom: 20px;
  padding-top: 10px;
}