<%= link_to category_product_path(product.category, product) do %>
  <span class="lazy-load-image" style=" display:inline-block; height:210px; width: 100%;">
    <%= image_tag product.thumbnail%>
  </span>
<% end %>