#detail-product {
  padding: 10px;
  background-color: white;
}

.text-bold {
  font-weight: 800;
  font-size: 20px;
}

text-color {
  color: #0093c4;
}

/* Main image - left */
.main-img img {
  width: 100%;
}

/* Preview images */
.previews img {
  width: 100%;
  height: 140px;
}

.main-description .category {
  text-transform: uppercase;
  color: #0093c4;
}

.main-description .product-title {
  font-size: 2.5rem;
}

.old-price-discount {
  font-weight: 600;
}

.new-price {
  font-size: 24px;
}

.details-title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.2rem;
  color: #757575;
}

.buttons .block {
  margin-right: 5px;
}


.quantity input {
  border-radius: 0;
  height: 40px;
  width: 100px;

}


.custom-btn {
  text-transform: capitalize;
  background-color: #0093c4;
  color: white;
  width: 150px;
  height: 40px;
  border-radius: 0;
}

.custom-btn:hover {
  background-color: #0093c4 !important;
  font-size: 18px;
  color: white !important;
}

.similar-product img {
  height: 400px;
}

.similar-product {
  text-align: left;
}

.similar-product .title {
  margin: 17px 0px 4px 0px;
}

.similar-product .price {
  font-weight: bold;
}

.questions .icon i {
  font-size: 2rem;
}

.questions-icon {
  font-size: 2rem;
  color: #0093c4;
}

.prd-sale h2 {
  font-family: serif;
  font-weight: 600;
  padding-left: 20px;
  color: #cd1817;
  margin: 0px;
}
.product-sale {
  padding-top: 12px;
  border-radius: 5px;
  padding-bottom: 12px;
  position: relative;
}

.product-list {
  margin: 0;
}

.product-sale .product-img a span {
  text-align: center;
}

.product-sale .product-img a span img {
  transition: all 0.5s;
  max-width: 50%;
  padding-top: 30px;
}

.product-sale .product-img .product-label {
  position: absolute;
  top: 140px;
}

.product-sale .product-img .product-label span {
  border-radius: 0px 5px 5px 0px;
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 5px;
  display: flex;
  padding: 0px 8px;
}

.product-sale .product-img .product-label .product-label1 {
  background-color: #ea9d02;
  color: #fff;
}

.product-sale .product-img .product-label .product-label2 {
  background-color: #cb1c22;
  color: #fff;
}

.product-sale div a span:hover img {
  transform: scale(1.1);
}

.product-sale .cdt-product-info a {
  text-decoration: none;
  color: #474c51;
}

.product-sale .cdt-product-info a:hover {
  color: #0d6dfd;
}

.product-sale .cdt-product-info .cdt-product-name {
  margin-bottom: 10px;
}

.product-sale .cdt-product-info .cdt-product_show-promo {
  justify-content: space-between;
  display: flex;
}

.product-sale .cdt-product-info .cdt-product_show-promo .progress {
  width: 135px;
  height: 28px;
  border-radius: 15px;
  background-color: #ef8573;
  position: relative;
  line-height: 28px;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  z-index: 1;
  margin: 10px 0px 10px;
}

.product-sale .cdt-product-info .cdt-product_show-promo .progress p {
  padding-left: 7px;
}

.product-sale .cdt-product-info .cdt-product_show-promo .progress .progress-bar {
  width: 67%;
  background-color: #cb1c22;
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
}

.product-sale .cdt-product-info .cdt-product_show-promo .strike-price {
  font-size: 14px;
  line-height: 15px;
  color: #919191;
}

.product-sale .cdt-product-info .cdt-product_show-promo .strike-price p {
  padding-top: 15px;
  margin-bottom: 0px;
  text-decoration: line-through;
}

.product-sale .cdt-product-info .cdt-product__config {
  background-color: #f8f9fa;
  border-radius: 5px;
  padding: 9px 10px 0px;
}

.product-sale .cdt-product-info .cdt-product__config .cdt-product__img-promo ul li button {
  margin-right: 10px;
  padding: 0px;
  border-radius: 50%;
}

.product-sale .cdt-product-info .cdt-product__config .cdt-product__img-promo ul li button img {
  border-radius: 50%;
}

.product-sale .cdt-product-info .cdt-product__config .cdt-product__img-promo #pills-tabContent .tab-pane p {
  width: 100%;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.31;
  color: #555;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 0px;
  padding: 10px 0px;
}

.product-sale .cdt-product-info .cdt-product__config .cdt-product_config_param {
  padding-bottom: 10px;
}

.product-sale .cdt-product-info .cdt-product__config .cdt-product_config_param span {
  cursor: help;
  margin: 0px 10px 10px 0px;
  font-size: 14px;
  line-height: 19px;
  color: #6c757d;
}

.product-sale .cdt-product-info .cdt-product__config .cdt-product__text-promo {
  height: 30px;
}

.product-sale:hover {
  box-shadow: 0 0 10px 5px #dee2e6;
}/*# sourceMappingURL=content-sale.css.map */


/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

  /* Make preview images responsive  */
  .previews img {
      width: 100%;
      height: auto;
  }
}