<section class="content-sale" id="product-list">
  <div class="prd-sale">
    <%- itemables = @accessories %>
    <h2><%= itemables.first.category.name %></h2>
  </div>
    <div class="row product-list">
      <%- itemables.each do |item| %>
          <%= render partial: 'itemables/itemables', locals: { itemable: item, category: item.category, class_name: 'col-md-3' } %>
      <% end %>
    </div>
</section>

<%= paginate itemables %>
